
<div class="images">

    {% for image in data %}
        <div class="image">
            <a href="{{ image.permalink }}" target="_blank">
                <img src="{{ image.media_url }}" alt="{{ image.caption }}" />
            </a>
        </div>
    {% endfor %}

</div>